*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(46,40,158);
background: linear-gradient(90deg, rgba(46,40,158,1) 0%, rgba(80,190,203,1) 69%, rgba(0,212,255,1) 100%);
}
.container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 5rem;
}
#wrapper{
    border: 3px solid white;
    padding: 1rem;
}
.container span{
    margin-left: 10px;
}
#ampm{
    font-size: 3rem;
    align-items: end;
}
   